<!-- Validation failure messages -->
<% if @orange.errors.any? %>
  <% @orange.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Orange #<%= @orange.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_orange/<%= @orange.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vote_id -->
      <div class="form-group">
        <label for="vote_id" class="control-label">
          Vote
        </label>

        <%= select_tag(:vote_id, options_from_collection_for_select(Vote.all, :id, :created_at, @orange.vote_id), :class => "form-control") %>
      </div>

      <!-- Label and input for orange_name -->
      <div class="form-group">
        <label for="orange_name" class="control-label">
          Orange name
        </label>

        <input type="text" id="orange_name" name="orange_name" placeholder="Orange name" class="form-control" value="<%= @orange.orange_name %>">
      </div>

      <button class="btn btn-warning">
        Update Orange
      </button>
      or
      <a href="/oranges/<%= @orange.id %>">Cancel</a>
    </form>
  </div>
</div>
