<div class="page-header">
  <h3>Vote #<%= @vote.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Voter</dt>
      <dd><%= @vote.voter_id %></dd>

      <dt>Photo</dt>
      <dd><%= @vote.photo_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/votes" class="btn btn-primary">
        Back
      </a>
      <a href="/votes/<%= @vote.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vote/<%= @vote.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Vote has many apples -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Apples
      </li>

      <% @vote.apples.each do |apple| %>
        <li class="list-group-item">
          <a href="/apples/<%= apple.id %>">
            <%= apple.created_at %>
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_apple" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vote_id -->
      <input type="hidden" name="vote_id" value="<%= @vote.id %>">

      <!-- Label and input for apple_name -->
      <div class="form-group">
        <label for="apple_name" class="control-label">
          Apple name
        </label>

        <input type="text" id="apple_name" name="apple_name" placeholder="Apple name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Apple
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Vote has many oranges -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Oranges
      </li>

      <% @vote.oranges.each do |orange| %>
        <li class="list-group-item">
          <a href="/oranges/<%= orange.id %>">
            <%= orange.created_at %>
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_orange" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vote_id -->
      <input type="hidden" name="vote_id" value="<%= @vote.id %>">

      <!-- Label and input for orange_name -->
      <div class="form-group">
        <label for="orange_name" class="control-label">
          Orange name
        </label>

        <input type="text" id="orange_name" name="orange_name" placeholder="Orange name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Orange
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
